<h1 style="color:rgb(230, 184, 125)" align="center">Contact Details</h1><hr>
<br><br>
<div class="row">

    <div class="column">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/../../assets/images/address.png" alt="Address" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                    <h1>ADDRESS.</h1>
                    <p>
                        ABC FLAT ENTERPRIZE
                        ADDRESS:-<br>
                        244 Gorokhobasi Road, Nagerbazzar, DumDum<br>
                        Police Station: Nagerbazzar Police Station.<br>
                        Post Office: DumDum Post Office.<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
   
    <div class="column">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/../../assets/images/facility.jpg" alt="Facility" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                    <h1>Facilities.</h1>
                    <p>
                        Near Market Area and 30 minutes distance from DumDum Station.<br>
                        15 minutes Walking distance to Diamond Plaza. <br>
                        20 minutes to Airport Gate 1 by bus route.<br>
                        Good transportation facility.
                    </p>
                </div>
            </div>
        </div>
    </div>
   
    <div class="column">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="/../../assets/images/contact.png" alt="Contact" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                    <h1>ADDRESS.</h1>
                    <p>
                        Contact Number:- 9883952010/7003378772<br>
                        Email us: arpanghoshiembca2023@gmail.com
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>