<div *ngIf="successMessage" class="alert alert-success alert-dismissible fade show mb-0" role="alert">
  <strong>{{successMessage}}</strong>
  <button type="button" (click)="closeSuccessMessage()" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
  <strong>{{errorMessage}}</strong>
  <button type="button" (click)="closeErrorMessage()" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://source.unsplash.com/1600x500/?nature, water" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Find Bliss in our Flat Structure</h5>
        <p>Your family's happiness is your first priority.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/1600x500/?usa" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Come and join with our community</h5>
        <p>You will get peace in our community.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/1600x500/?dubai" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Home Sweet Home</h5>
        <p>There is no place like home and our flats provides you same experience.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div *ngIf="serverError then thenBlock else elseBlock"></div>

<ng-template #thenBlock>
  <h1 class="text-center my-5 text-danger" style="opacity: 45%;">:"( Server Error 500)</h1>
  <h1 class="text-center text-warning" style="opacity: 45%;">Probably server is offline (Reload once)</h1>
  <h3 class="text-center my-5" style="opacity: 45%;">N.B. : Feel free to contact with owner or check <a href="https://registerflat.herokuapp.com/" style="text-decoration: none;" target="_blank">heroku-hosted-backend-server</a></h3>
</ng-template>

<ng-template #elseBlock>
  <h1 class="text-center text-danger my-4">Register Your Flat Today <button id="register-btn" style="display: none;" onclick="congratulationForRegister();">Hidden</button></h1>
  <h3 *ngIf="loadingServer" class="text-center mb-5" style="opacity: 45%;">Loading from herokuapp... [Reload-Several and Be-Forbearing 😅]</h3>

  <div class="container">
    <div class="col" class="row row-cols-1 row-cols-md-3 g-4">
      <div class="card my-3 py-2" *ngFor="let flat of flats">
        <img src="../../assets/images/flat{{flat.flatId}}.jpg" class="card-img-top" alt="No Image Found" width="200" height="200">
        <div class="card-body">
          <h5 class="card-title">Flat - {{flat.flatId}}</h5>
          <h6 class="card-title">Price(INR): ₹{{flat.price}}0</h6>
          <p class="card-text">We provide good service and flats in your fingertips....</p>

          <p *ngIf="flat.soldOut then elseBlockFlatSoldOut else elseBlockFlatNotSoldOut"></p>

          <ng-template #elseBlockFlatSoldOut>
            <button *ngIf="isLoggedIn" class="btn btn-primary" routerLink="/flat-view/{{flat.flatId}}">View</button>
            <button *ngIf="!isLoggedIn" class="btn btn-primary" routerLink="/login">View</button>
            <span style="opacity: 45%; font-size: 20px;"><b *ngIf="1 else elseBlockFlatSoldOut"><i>FLAT SOLD OUT</i></b></span>
          </ng-template>

          <ng-template #elseBlockFlatNotSoldOut>
            <button *ngIf="!isLoggedIn" class="btn btn-primary mb-2" routerLink="/login">View</button>
            <button *ngIf="!isLoggedIn" class="btn btn-success" routerLink="/login">Buy / Register</button>

            <button *ngIf="isLoggedIn" class="btn btn-primary mb-2" routerLink="/flat-view/{{flat.flatId}}">View</button>
            <button *ngIf="isLoggedIn" class="btn btn-success" (click)="registerFlatOnClick(flat.flatId)">Buy / Register</button>
          </ng-template>

        </div>
      </div>
    </div>
  </div>
</ng-template>
<app-footer></app-footer>